@import 'variables';

@mixin flexCenter($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin grid($columns: 12) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}