$primaryColor: #F2D644;
$secondaryColor: #1B1B1B;
$tertiaryColor: #1F1F1F;

$headerFont: 'Oswald', sans-serif;
$bodyFont: 'Lato', sans-serif;

$maxWidth: 1366px;

$paddingDef: 60px;
$paddingTab: 50px;
$paddingMob: 7%;

$breakpoints: (
    'tablet': 768px,
    'desktop': 1024px,
);