@import 'globals';

#banner {
    position: relative;

    .contents {
        display: flex;
        flex-wrap: wrap;

        padding-top: 100px;

        @include media('<desktop') {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0;
        }

        .mobile-overlay-top {
            display: none;

            @include media('<desktop') {
                display: block;
                background: linear-gradient(180deg, #1B1B1B 30%, rgba(27,27,27,0) 100%);
                width: 100%;
                height: 400px;
                position: fixed;
                top: 0;
                left: 0;
            }

            @include media('<tablet') {
                background: linear-gradient(180deg, #1B1B1B 10%, rgba(27,27,27,0) 100%);
                height: 250px;
            }
        }

        .mobile-overlay-bottom {
            display: none;

            @include media('<desktop') {
                display: block;
                background: linear-gradient(0, #1B1B1B 10%, rgba(27,27,27,0) 100%);
                width: 100%;
                height: 300px;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 15;
            }            
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
    
            width: 100%;
            height: 100%;
    
            background: url(img/shangai-downtown.jpg) no-repeat;

            @include media('<desktop') {
                height: 100vh;
                position: sticky;
            }

            @include media('<tablet') {
                background: url(img/shangai-downtown-mob.jpg) no-repeat;
                background-size: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                width: 100%;
                height: 100%;

                background: linear-gradient(0, #1B1B1B 0, rgba(27, 27, 27, 0) 100%);

                @include media('<desktop') {
                    display: none;
                }
            }
        }

        .mockup {
            width: 32%;
            margin-right: 10%;
            align-self: center;

            @include media('<desktop') {
                width: 50%;
                margin-top: calc(-100vh + 250px);
                margin-right: 0;                
            }

            @include media('<tablet') {
                width: 57%;
                margin-top: calc(-100vh + 170px);
            }
        }

        .right-col {
            width: 58%;

            @include media('<desktop') {
                width: 100%;
            }

            h1 {
                margin-bottom: 20px;

                @include media('<desktop') {
                    position: fixed;
                    top: 30px;
                    left: 0;
                }
            }

            p {
                margin-bottom: 40px;

                @include media('<desktop') {
                    width: 50%;
                    margin: 150px auto;
                }

                @include media('<tablet') {
                    width: 80%;
                }
            }

            .button {
                max-width: 72%;

                @include media('<desktop') {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    z-index: 20;
                    
                    max-width: 90%;
                    width: 90%;

                    margin-left: 5%;
                    margin-bottom: 60px;
                }
            }
        }



        #pontos-chave {
            @include grid(4);
            width: 100%;

            margin-top: 100px;

            @include media('<desktop') {
                grid-template-columns: 1fr;
            }

            li {
                text-align: center;
                padding: 0 20px;

                @include media('<desktop') {
                    width: 60%;
                    margin: auto;
                    margin-bottom: 100px;
                }

                @include media('<tablet') {
                    width: 80%;
                    margin-bottom: 50px;
                }

                img {
                    width: 80px;
                    margin-bottom: 5px;

                    @include media('<tablet') {
                        width: 60px;
                    }
                }

                h3 {
                    margin-bottom: 10px;
                }
            }
        }

    }
    
}

#sumario {
    position: relative;
    background: url(img/windows-pattern.jpg);

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(90deg, #1B1B1B 39.58%, rgba(27, 27, 27, 0) 100%);
    }

    .contents {
        position: relative;
        z-index: 1;

        @include grid(12);        

        .left-col {
            grid-column: 1 / 7;

            @include media('<desktop') {
                grid-column: 1 / -1;
                text-align: center;
            }

            h1 {
                margin-bottom: 40px;

                @include media('<desktop') {
                    margin-bottom: 80px;
                }
            }

            ul {
                li {
                    position: relative;

                    display: flex;
                    align-items: center;

                    padding-bottom: 16px;
                    margin-bottom: 15px;

                    @include media('<desktop') {
                        flex-direction: column;

                        padding-bottom: 36px;
                        margin-bottom: 35px;
                    }

                    &:not(:last-child):after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        
                        width: 50%;
                        height: 1px;
                        background-color: $primaryColor;

                        @include media('<desktop') {
                            margin-left: 25%
                        }
                    }

                    span {
                        @extend h3;

                        white-space: nowrap;
                        color: $primaryColor;
                        margin-right: 20px;

                        @include media('<desktop') {
                            margin-right: 0;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    
        .right-col {
            grid-column: 8 / -1;
            @include flexCenter(column);

            @include media('<desktop') {
                display: none;
            }

            .mockup {
                width: 80%;
                margin-bottom: 40px;
            }
        }

    }    
    
}

#depoimentos {
    @include media('<desktop') {
        position: relative;
        z-index: 2;
        background-color: $secondaryColor;
    }

    h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    img {
        width: 100%;
    }

    @include media('<desktop') {
        .splide {
            width: 80%;
            margin-left: 10%;
        }
    }
}

#autor {
    @include media('<desktop') {
        position: relative;
        z-index: 2;
        background-color: $secondaryColor;
    }

    .contents {
        @include grid();

        .left-col {
            grid-column: 1 / 4;

            @include media('<desktop') {
                grid-column: 1 / -1;

                background: url(img/mineiro-square.jpg) no-repeat;
                background-size: cover;

                width: 60%;
                height: 300px;

                margin-left: 20%;
            }

            @include media('<tablet') {
                width: 80%;
                margin-left: 10%;
            }

            img {
                max-width: 85%;
                margin-left: 7.5%;

                @include media('<desktop') {
                    display: none;
                }
            }
        }

        .right-col {
            grid-column: 4 / -3;

            @include media('<desktop') {
                grid-column: 1 / -1;
            }

            h1 {
                margin-bottom: 20px;

                @include media('<desktop') {
                    text-align: center;
                }
            }

            a {
                display: flex;
                align-items: center;

                text-decoration: none;

                margin-top: 20px;

                @include media('<desktop') {
                    width: fit-content;
                    margin: auto;
                    margin-top: 50px;
                }

                p {
                    font-weight: 500;
                    margin-left: 5px;
                    padding-bottom: 5px;
                }              
            }
        }
    }
}

footer {
    background-color: $primaryColor;
    padding: 15px 0;

    @include media('<desktop') {
        margin-bottom: 170px;
    }

    p {
        text-align: center;
        color: $secondaryColor;

        a {
            color: $secondaryColor;
        }
    }
}